*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;

    
}

.wrapper{
    padding: 1rem 1rem;

}

 body{
    display: flex;
    background-color: white;
    /* background-image: url('/static/image/skyscraper.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  */
    justify-content: center;
    align-items: center;
}



.head_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.head_nav,strong{
    font-size: large;
    color: black;
    padding: 2rem 2rem;
}

.head_nav,a{
    color:black,

}



.right{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;

}

a{
    color: black;
    text-decoration: none;

}


.btn{
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    padding: 14px 12px;
    border-radius: 10px;
}

.the_end{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20rem;
    align-items: center;
}
.line {
    border: 0;
    height: 1px; 
    background-color: #000; 
    margin-top: 1rem;
}
.site{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}


.topic{
    color: #3b3a3a;
}

.link{
    display: flex;
    flex-direction: row;
    gap: 1rem;
   

}

.image{
    size: 1rem;
    color: #5c5a5a;
}

.basic{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    padding: 7rem 15rem;
    border-radius: 10px;
    background-image: url('/static/image/plant_background.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;


}
.text,strong{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-family: Arial, sans-serif;
    font-size: 4rem;   
}
.text{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-family: Arial, sans-serif;
    font-size: 2rem;


}
.search{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    gap: 5rem;
   
}


.search-input{
  padding: 1rem 7rem ;
  width: 25rem;
  border-radius: 0.5rem;
}


