{% extends 'main/base.html' %}
{% load static %}

{% block title %} Search Plant {% endblock %}

{% block content %}

<h2 class="search-heading">Search</h2>
<form action="{% url 'plant:search_plant' %}" method="get" class="search-form">
    <input type="search" name="search" placeholder="Search for plant">
    <input type="submit" value="Search">
</form>

<div class="plant-grid">
    {% for plants in plant %}
        <div class="plant-card">
            <img src="{{ plants.image.url }}" alt="{{ plants.name }}" class="plant-image" loading="lazy" />
            <a href="{% url 'plant:plant_detail' plants.id %}"><h3>{{ plants.name }}</h3></a>
            <p>{{ plants.about }}</p>
            <p>{{ plants.category }}</p>
        </div>
    {% endfor %}
</div>

{% endblock %}