{% extends 'main/base.html' %}
{% block content %}
<div class="container">
    <h1 class="my-4">Contact Messages</h1>

    <!-- Messages Cards -->
    <div class="row">
        {% for message in messages %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ message.first_name }} {{ message.last_name }}</h5>
                    <p class="card-text">
                        <a>{{ message.email }}</a><br>
                        {{ message.subject }}<br>
                        {{ message.message|truncatechars:100 }}<br>
                        {{ message.created_at|date:"M d, Y H:i" }}
                    </p>
                    <a href="{% url 'contact_message_detail' message.id %}" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col">
            <p>No messages found.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}