{% extends 'main/base.html' %}

{% block title %} Home {% endblock %}

{% block landing %}
  <div class="landing">
    <div class="container">
      <div class="box">
        <div class="intro">
          <h1>Planteer</h1>
          <p>Plant Database For Plants Lovers</p>
        </div>
        <form action="" method="get">
          <input type="search" name="" placeholder="Search For Plant...">
          <input type="submit" value="Search" class="special">
        </form>
      </div>
    </div>
  </div>
{% endblock %}
{% block content %}
  
{% endblock %}