{% extends "main/base.html" %}
{%block title%} Home page {%endblock%}
{% block content %}

<h2> All Plant</h2>

<div class="row mt-5 row-cols-1 row-cols-md-3 g-4">

    {% for plant in plants %}
      <div class="col">
          <div class="d-flex flex-column justify-content-start align-items-start h-100 p-4 shadow">
              <img src="{{plant.plant_image.url}}" alt="plant image">
              <h3>{{plant.title}}</h3>
              <p>{{plant.content}}</p>
              <h5>Published at: {{plant.published_at}}</h5>
          </div>
      </div>
    {% endfor %}
  
  
  </div>

{%endblock%}