{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 mt-3">
            <h1>Message From Users</h1>
        </div>
    </div>
    <div class="row">
        {% for message in messages %}
            <div class="col-md-6 mb-4 mt-4">
                <div class="d-flex align-items-center">
                    <i class="fas fa-user fa-2x mr-2"></i>
                    <div>
                        <div class="text-center mt-3">
                            <span class="material-symbols-outlined fa-3x" style="margin-left: -70px;">
                                account_circle
                                </span>
                                </div>
        
                        <strong>{{ message.first_name }}</strong> {{ message.last_name }}<br>
                        <a href="mailto:{{ message.email }}" class="email-link">{{ message.email }}</a>

                    </div>
                </div>
                <div class="mt-2">
                    <p>{{ message.message }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}