/*base page*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 30px;
    background-color: white;
    border-bottom: 2px solid #ddd
}
.navbar ul{
    list-style:none;
    display: flex;
    align-items: center;
    margin:0px;
    padding: 0px;
    width: 100%;
}
.navbar ul li:first-child{
    font-size: 24px;
    font-weight: bold;
    margin-right:auto;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 10px;
}
.navbar ul li button{
    background-color: black;
    color: white;
    border:none;
    padding: 10px 15px;
    font-size:18px;
    cursor:pointer;
    border-radius: 5px;
}
.navbar ul li button a{
    color: white;
    text-decoration: none;
}
.navbar ul li button :hover{
    background-color: #333;
}
@media (max-width:768px){
    .navbar{
        flex-direction: column;
        align-items: center;
    }
    .navbar ul{
        flex-direction: column;
        align-items: center;
    }
    .navbar ul il{
        margin: 10px 0;
    }
    .navbar ul li:first-child{
        margin-bottom: 20px;
    }
}
/*home page*/
.home_content{
    background-image: url('images/homephoto.jpj');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    display: flex;
    justify-content: center;
    color: black;
    border-radius: 10vh;
}
.footer_conten{
 padding: 20px 50px;
 text-align: center;
}
.footer_conten hr{
    border: 1px solid #ddd;
    margin-bottom: 20px;
}
.socail_icon li {
    list-style: none;
    display: flex;
    cursor:pointer;
}
.socail_icon li i{
    font-size: 20px;
    color: black;
}
.socail_icon li i:hover{
    color:gray
}
.Pages_list{
    width: 100%;
    max-width: 900px;
    margin: 20px outo;
    border-collapse: collapse;
}
.Pages_list th{
    font-size: 18px;
    border-bottom: 2px solid #ddd;
    padding: 10px;
}
.Pages_list td{
    padding: 10px;
    text-align: center;
    
}
.Pages_list a{
    text-decoration: none;
    color: black;
}
.Pages_list a:hover{
    color: grey;
    
}
@media (max-width:768px){
    .socail_icon{
        flex-direction: column;
        align-items: center;
    }
    .socail_icon li{
        margin-bottom: 10px;
    }
    .socail_icon th,td{
        display: block;
        width: 100%;
        text-align: center;
    }
}
/*contact page*/
.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: auto;
}
.contanor{
    width: 50%;
    padding: 20px;
}
.contact_form{
    display: flex;
    flex-direction: column;
}
.form_data label{
    font-weight: bold;
    margin: 10px;
}
.form_data input , textarea{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid grey;
    border-radius: 5px;
}
.form_data textarea{
    height: 100px;
}
.contact .btn{
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}
.contact .btn:hover{
    background-color: blueviolet;
}
.photo {
    width: 45%;
    display: flex;
    justify-content: center;
}
.photo img{
    width: 100%;
    border-radius: 10px;
}

@media (max-width:768px) {
    .contact{flex-direction: column;
    text-align: center;
    }
    .contanor , .photo{
        
        width: 100%;   
    }
    .photo img{
        width: 80%;
    }
    
}

/**/