{%extends 'main/base.html'%}
{%block title%}x {%endblock%}
{% load static %}
{%block content%}
<h1>Messages from Users</h1>
<div class="grid-message">
{% for message in messages %}

<div class="card-message">
    <div class="card-message-content">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
      </svg>

      <h3>{{message.first_name}} {{message.last_name}}</h3>
      <a href="mailto:{{ message.email}}">{{message.email}}</a>
      <p>{{message.message}}</p>
    </div>
</div>
{% endfor %}
</div>

{%endblock%}