{% extends 'main/base.html'%}
{% load static %}
{% block content%}
<form class="d-flex mt-3" role="Search" method="GET" action="{% url 'plants:search_plants_view'%}">
  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="Search">
  <button class="btn btn-outline-success" type="submit">Search</button>
</form>

<a href="{% url 'main:home_view'%}">
<div class="d-flex align-items-center justify-content-between gap-2 mt-3">
  <h2 class="m-0 p-0">All Plants</h2>
  <span class="d-flex align-items-center text-fxl">
  <span class="text-fxl ">back</span>
  <span class="material-symbols-outlined text-fxl">arrow_forward </span>
  </span>
</div>
</a>
<div class="row mt-2 row-cols-1 row-cols-md-3 g-4">

  {% for plant in plants %}
    <div class="col">
        
      <div class="d-flex flex-column justify-content-start align-items-start h-100 p-4 shadow gap-2">
        <img src="{{plant.image.url}}" class="w-100 poster-thumb object-fit-cover"/>
        <a href="{% url 'plants:plants_detail_view' plant.id%}"><h3>{{plant.name}}</h3></a>
        <p class="text-muted">{{plant.about}}</p>
        <h4>{{plant.category}}</h4>

    </div>
</div>
  {% endfor %}


</div>



{% endblock %}