{% extends 'main/base.html' %}

{% block title %} all plant page {% endblock %}

{% block content %}
{% if plants %}
<h1>Search Result({{plants.count}})</h1>
{% else %}
<p class="bg-warning gap-3 rounded ">
    No Result Found For Your Search "{{request.GET.search}}" !
</p>
{% endif %}
<div class="row mt-2 row-cols-1 row-cols-md-3 g-4">
<form role="search" method="get" action="{% url 'plants:plant_search_view' %}">
            <input class="form-control" type="search" placeholder="Search For Plants..." aria-label="Search" name="search" value="{{request.GET.search}}" required minlength="3" >

    </form>

    {% for plant in plants %}

    <div class="col">

        <div class="d-flex flex-column justify-content-start align-items-start h-100 p-4 gap-2">

            <img src="{{plant.image.url}}" class="w-100 poster-thumb object-fit-cover" style="width: 200px; height: 200px;"/>
            <a href="{% url 'plants:plant_detail_view' plant.id %}"><h3>{{plant.name}}</h3></a>
            <h6>{{plant.category}}</h6>

        </div>
    </div>

    {% endfor %}


  </div>
{% endblock %}