{% extends 'main/base.html' %}
{% block title%} plant details {% endblock %}

{% load static %}

{% block content %}
<main>
    <h1>{{plant.title}}</h1>
    <div class="details">
        <img src="{{plant.image.url}}">
        <a href="{% url plants:update_plant plant.id %}"class="btn"></a>
        <h3>{{plant.name}}</h3>
        <p>{{plant.category}}</p>
        <p>{{plant.about}}</p>
        <p>{{plant.is_edible}}</p>
        <p>{{plant.used_for}}</p>

        
    </div>

</main>

{% endblock %}